services:
    postgres_db:
        image: postgres:17-alpine
        hostname: postgres_db
        container_name: postgres_db
        restart: unless-stopped
        environment:
            POSTGRES_DB: dacn
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
        ports:
            - '5432:5432'
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U postgres -d dacn']
            interval: 5s
            timeout: 2s
            retries: 20
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - dacn-network
        command: postgres -c listen_addresses='*'

    dacn:
        image: domino4820/dacn:latest
        depends_on:
            postgres_db:
                condition: service_healthy
        environment:
            DOMAIN: eroadmap.tech
            JWT_EXPIRES_IN: 86400000
            JWT_SECRET: 'CON-MEO-XAU'
            DATABASE_URL: 'postgresql://postgres:postgres@postgres_db:5432/dacn?schema=public'
        ports:
            - '3000:3000'
        stdin_open: true
        tty: true
        networks:
            - dacn-network

volumes:
    postgres_data:

networks:
    dacn-network:
