services:
    postgres_db:
        image: postgres:17-alpine
        hostname: postgres_db
        container_name: postgres_db
        restart: unless-stopped
        environment:
            POSTGRES_DB: dacn
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
        ports:
            - '5432:5432'
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U postgres -d dacn']
            interval: 5s
            timeout: 2s
            retries: 20
        volumes:
            - postgres_data:/var/lib/postgresql/data
        command: postgres -c listen_addresses='*'

volumes:
    postgres_data:
