services:
    postgres_db:
        image: postgres:17-alpine
        hostname: postgres_db
        container_name: postgres_db
        restart: unless-stopped
        environment:
            POSTGRES_DB: dacn
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        networks:
            - dacn-network
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U postgres -d dacn']
            interval: 5s
            timeout: 2s
            retries: 20
        volumes:
            - postgres_data:/var/lib/postgresql/data

    server:
        image: domino4820/dacn-backend:latest
        container_name: dacn_server
        restart: unless-stopped
        ports:
            - '80:3000'
        environment:
            DATABASE_URL: postgresql://postgres:${POSTGRES_PASSWORD}@postgres_db:5432/dacn?schema=public
            NODE_ENV: production
            DOMAIN: ${DOMAIN}
            JWT_SECRET: ${JWT_SECRET}
            JWT_EXPIRES_IN: 86400000
            SALT_ROUNDS: 10
            PORT: 3000
        depends_on:
            postgres_db:
                condition: service_healthy
        networks:
            - dacn-network
        volumes:
            - uploads_data:/app/uploads

networks:
    dacn-network:
        name: dacn-network

volumes:
    postgres_data:
    uploads_data:
