name: Build Docker Image

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    build-docker-image:
        runs-on: ubuntu-latest
        if: |
            github.event_name != 'push' ||
            (!contains(github.event.head_commit.message, 'skip ci') &&
             !contains(github.event.head_commit.message, 'docs:'))
        permissions:
            contents: write
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build Docker image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: false
                  load: true
                  tags: domino4820/dacn:latest
                  cache-from: type=gha
                  cache-to: type=gha,mode=max

            - name: Save Docker image
              run: docker save -o dacn.tar domino4820/dacn:latest

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: latest
                  name: latest
                  files: dacn.tar
                  overwrite_files: true
                  make_latest: true
